@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* infinite horizontal scroll animation for logo ticker */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@layer base {
  /* Standard way to hide number spinners */
  input[type="number"] {
    appearance: textfield !important;
    -moz-appearance: textfield !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
}